@media (min-width: 1024px) {

#background {

    background-image: url(../../images/bgff.jpg);
}

}

.mmb-05{

 margin-bottom: 0.5rem;

}
.mmb-1{


margin-bottom: 1rem;


}

.mmb-2 {

margin-bottom: 2rem;

}

.mw-1 {

width: 1rem;

}

.mw-2 {

width: 2rem;

}

.mw-3 {

    width: 3rem;
    
    }
.mw-4 {

width: 4rem;

}
.mw-5 {

width: 5rem;

}
.mw-6 {

width: 6rem;

}